body
{
    text-align: center;
    background-image: url("images/iphoneOL.jpg");
    background-repeat: no-repeat; 
    font-family: 'Roboto', sans-serif;
    color: white;
}

#screen
{
    height: 530px;
    width: 300px;
    margin: 105px 23px;
    background-color: skyblue;
}

.title
{
    text-align: center;
    padding: 30px;
    font-size: 50pt;
}

form
{
    font-family: 'Roboto', sans-serif;
    margin: 60px;
    top: 230px;
    position: absolute;
}

.input
{
    width: 200px;
    margin-bottom: 30px;
    margin-left: 10px;
    padding-top: -150px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
}

em
{
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 15px;
    top: -30px;
}


.backimage img
{
    width:100%;
    position: relative;
}

.login_button
{
    position: absolute;
    top: 230px;
    width: 100px;
    left: 44px;
    border-radius: 15px;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: darkslategray;
}

#username
{
    position: absolute;
    top: 70px;
    left: -20px;
    height: 30px;
    text-align: left;
    text-indent: 15px;
    border-radius: 12px;;
    border: 1px solid rgba(4, 17, 22, 0.186);
    font-size: 14px;
}

#password
{
    position: absolute;
    top: 120px;
    left: -20px;
    height: 30px;
    text-align: left;
    text-indent: 15px;
    border-radius: 12px;;
    border: 1px solid rgba(4, 17, 22, 0.186);
    /* background: lightgoldenrodyellow; */

    font-size: 14px;
}


a {
    color: white;
}
