body
{
    text-align: center;
    background-image: url("images/iphoneOL.jpg");
    background-repeat: no-repeat; 
    font-family: 'Roboto', sans-serif;
    color: white;
}

#screen
{
    height: 530px;
    width: 300px;
    margin: 105px 23px;
    background-color: skyblue;
}

.title
{
    text-align: center;
    padding: 30px;
    font-size: 50pt;
}

form
{
    font-family: 'Roboto', sans-serif;
    margin: 60px;
    top: 280px;
    position: absolute;
}

.input
{
    width: 170px;
    margin-bottom: 30px;
    margin-left: 10px;
    padding-top: -150px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
}

em
{
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 15px;
    top: -30px;
}


.backimage img
{
    width:100%;
    position: relative;
}

.login_button
{
    position: absolute;
    top: 150px;
    width: 100px;
    left: 44px;
    border-radius: 15px;
    border: 1px solid white;
}

#username
{
    position: absolute;
    top: 0px;
    left: -1px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid grey;
}

#password
{
    position: absolute;
    top: 50px;
    left: -1px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid grey;
}

/* unvisited */
a:link {
    color: pink;
}

/* visited */
a:visited {
    color: white;
}
